
/* el-table 相关样式 ----------------- start */
div.summary-top div.el-table__body-wrapper,
div.summary-top div.el-table__fixed-body-wrapper {
  margin-top: 49px;
}
div.summary-top div.el-table__fixed-footer-wrapper,
div.summary-top div.el-table__footer-wrapper {
  position: absolute;
  top: 59px;
  bottom: auto;
}
.el-table .el-table__body .el-table__row:nth-child(even) {
  background-color: oldlace;
}
.el-table .el-table__body .el-table__row.select-row {
  background-color: #fff29d;
}
.el-table .el-table__header tr,
.el-table .el-table__header th {
  background-color: #f5f7fa;
}
.el-table__body-wrapper.is-scrolling-left,
.el-table__body-wrapper.is-scrolling-middle,
.el-table__body-wrapper.is-scrolling-right{
  height: calc(100% - 51px);
}

/* el-table 相关样式 ----------------- end */
/* el-form-item 相关样式 ----------------- start*/
.el-input-group.el-input-group--append,
.el-cascader.el-cascader--small,
.el-select.el-select--small{
  width: 200px;
}
.el-form-item--small .el-form-item__label {
  width: 100px;
}
/* el-form-item 相关样式 ----------------- end */