.dis-tab {
  display: table;
}
.dis-tab > .dis-tab-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.dis-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dis-flex {
  display: flex;
}
.dis-flex.align-c {
  align-items: center;
}
.dis-flex>.flex-1 {
  flex: 1;
}
.dis-flex>.flex-2 {
  flex: 2;
}
.page-title {
  font-size: 2rem;
  color: #000;
  font-weight: bold;
  margin-bottom: 20px;
  text-align:center;
}
.text-l {
  text-align:left;
}
.text-c {
  text-align:center;
}
.text-r {
  text-align:right;
}
.mg-b-10 {
  margin-bottom: 10px;
}
.mg-b-20 {
  margin-bottom: 20px;
}
.mg-r-10 {
  margin-right: 10px;
}
.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}
div.summary-top div.el-table__body-wrapper,
div.summary-top div.el-table__fixed-body-wrapper {
  margin-top: 49px;
}
div.summary-top div.el-table__fixed-footer-wrapper,
div.summary-top div.el-table__footer-wrapper {
  position: absolute;
  top: 59px;
  bottom: auto;
}